# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_PROJECT_ID="mqdp4h7c"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_READ_TOKEN="sktW8UaNMTEUtnQTfecOOlpxfcvBnhOIak6ofZatVoSjb1aLxMonJBf4sN9f0eYz6yjWupz5ObtxAqOtagqdTEq9F4SD5Ked41uOnsOpQJW5YM9vsur1NU8ZXkJtJEES5l5ADKZMaENXNlH5zNIrWjj62Kg3LXVUicbXntRor7d2jKBsqanM"